# Removes all exited containers and removes all dangling images
function docker-cleanup {
  docker ps --filter status=exited --no-trunc --quiet | xargs -t docker rm -f
  docker images --no-trunc --quiet --filter 'dangling=true' | xargs -t docker rmi -f
}

# Pulls new versions for all images matching filter, while skipping dangling images
function docker-update {
  local filter="${1:=.*}"
  docker images --format '{{ .Repository }}:{{ .Tag }}' \
    | grep -v ":<none>" | grep "$filter" \
    | sort | uniq \
    | xargs -I % sh -c 'echo; echo "-- Pulling $(tput setaf 3)%$(tput sgr0) ------------"; docker pull %'
}

# Execute a command on each folder with Dockerfile from the local directory
function dii {
  find . -name 'Dockerfile' -type f -exec dirname {} \; | local_exec "$@"
}
