plugins=(git $plugins)

# Find all directories which have a (not bare) git repository in them
function findgits {
  find . -name '.git' -type d -exec dirname {} \;
}

# Execute a command on each git repository from the local directory
function gii {
  findgits | local_exec "$@"
}

alias gll='git ll'
