plugins=(git $plugins)

# Find all directories which have a (not bare) git repository in them
function findgits {
  find . -name '.git' -type d -exec dirname {} \;
}

# Execute a command on each git repository from the local directory
function gii {
  findgits | local_exec "$@"
}

function merge_base {
  git merge-base origin/main HEAD
}

function git_changed {
  git diff "$(merge_base)..HEAD" "$@"
}

function git_files_changed {
  git --no-pager diff "$(merge_base)..HEAD" --name-only "$@"
}

alias gll='git ll'
