export PATH="/opt/homebrew/opt/postgresql@16/bin:$HOME/bin:$PATH"
export AWS_PROFILE="Engineer-878877078763"

# use with `op run -- command_that_needs_this env`
export HOMEBREW_GITHUB_API_TOKEN="op://Private/HOMEBREW_GITHUB_API_TOKEN/credential"

cl() {
  cd $HOME/Work/github.com/meetcleo/meetcleo
}

rt() {
  PARALLEL_WORKERS=1 MINITEST_REPORTER=SpecReporter bin/rails test "$@"
}
